<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloud Desk Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  
  <body>
    
    {% include 'header.html' %}
    
    <div class="container">
          <h3>Member Extras Entry</h3>

          <form action="/commitextras" method="POST">
            <div class="form-group mb-2">
              <label>Member</label>
              <select class="form-select" aria-label="select" name = "memberID" required>
          <option selected>Select Member</option>
          {% for member in members %}
          <option value = "{{ member['ID'] }}" >{{ member['name'] }}</option>
         {% endfor %}
          </select>
            </div>
             <div class="form-group mb-2">
        <label>Extras Description</label>
        <select class="form-select" aria-label="select" name = "extrasDesc" required>
          <option value = "Cafe Extras">Cafeteria Items</option>
          <option value = "Copy Services">Copy Scan Print Service</option>
          <option value = "Rider Services">Rider Service</option>
          <option value = "Admin Services">Admin Service</option>
          <option value = "Extra Furniture">Extra Furniture</option>
          <option value = "Land Line Usage">Land Line Usage</option>
        </select>
             </div>
             <div class="form-group mb-2">
        <label>Billing Period - From</label>
        <input type="date" class="form-control" name="fromDate" placeholder="dd-mm-yyyy" value=""
        max="2030-12-31">
             </div>
            <div class="form-group mb-2">
        <label>Billing Period - To</label>
        <input type="date" class="form-control" name="toDate" placeholder="dd-mm-yyyy" value=""
        max="2030-12-31">
             </div>
                <div class="form-group mb-2">
        <label>Amount</label>
        <input type="number" class="form-control" name="amount" required >
                </div>
             <div class="form-group mb-2">
               <label>Notes</label>
               <input type="text" class="form-control" name="notes" required >
             </div>
             <div class="form-group mb-2">
        <button type="submit" class="btn btn-primary">POST</button>
       <a class="btn btn-primary" href="/dashboard" role="button">CANCEL</a> 
             </div>
      </form>
    </div>
  </body>
</html>
