

{% for ticket in tickets %}
    <tr>
      <th scope="row">{{ ticket['ID'] }}</th>
      <td>{{ ticket['type'] }}</td>
      <td>{{ ticket['description'] }}</td>
      <td>{{ ticket['createdBy'] }}</td>
      <td>{{ ticket['assignedTo'] }}</td>
      <td>{{ ticket['createdOn'] }}</td>
      <!--<td>{{ ticket['closingNote'] }}</td>-->
      <td>
        {% if "Yes" == ticket['isOpen'] %}
          <a class="btn btn-warning" href="/closeticket" role="button">Close</a>
        {% else %}
          <a class="btn btn-success" href="/viewticket" role="button">View</a>
        {% endif %}
      </td>
   
{% endfor %}  